/*!*Layout - 12 column grid system that includes the header, navbar, content, and footer*!*/
/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/
/*.grid-container {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(12, 1fr);*/
/*    grid-template-rows: 80px 60px 1fr 50px;*/
/*}*/
/*.grid-container > * {*/
/*    grid-column: 1/span 12;*/
/*}*/
/*.header, .nav {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/
/*.header {*/
/*    !*position: fixed;*!*/
/*    width: 100%;*/
/*}*/
/*.header, .footer {*/
/*    background-color: #2c2e31;*/
/*}*/
/*.nav {*/
/*    grid-row: 2/3;*/
/*    background-color: #3e6767;*/
/*}*/
/*.footer {*/
/*    !*width:100%;*!*/
/*    !*height: 60px;*!*/
/*    color: white;*/
/*    !*position: absolute;*!*/
/*    !*bottom: 0;*!*/
/*    grid-row: 4/5;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    font-size: 12px;*/
/*}*/
/*!*.......................................................Links layouting*!*/
/*.left {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    flex: 1;*/
/*}*/
/*.search-menu {*/
/*    flex: 2;*/
/*}*/
/*.right {*/
/*    flex: 1;*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/
/*.contact-links li {*/
/*    display: inline;*/
/*    padding: 0 7px;*/
/*}*/
/*#logo-img {*/
/*    width: 100px;*/
/*    height: 80px;*/
/*}*/
/*.user-links > li, .nav-items li {*/
/*    display: inline;*/
/*    padding: 0 7px;*/
/*    position: relative;*/
/*}*/
/*.wishlist-items, .account-items, .category-items {*/
/*    display: none;*/
/*    list-style-type: none;*/
/*    position: absolute;*/
/*    left: 10px;*/
/*}*/
/*.user-links li:nth-child(2):hover .wishlist-items, .user-links li:nth-child(3):hover .account-items {*/
/*    color: white;;*/
/*    display: block;*/
/*}*/
/*!*..........................................................Links and buttons styling*!*/
/*.header a, .nav a {*/
/*    color: white;*/
/*    opacity: .75;*/
/*}*/
/*.grid-container a:hover {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    opacity: 1;*/
/*}*/
/*#logo, button:hover {*/
/*    opacity: 1;*/
/*}*/
/*.grid-container a:link,*/
/*.grid-container a:visited,*/
/*.grid-container a:active {*/
/*    text-decoration: none;*/
/*}*/
/*button {*/
/*    opacity: .75;*/
/*}*/
/*.search-menu {*/
/*    width: 40%;*/
/*}*/
/*#search-bar {*/
/*    width: 60%;*/
/*    height: 30px;*/
/*    border-radius: 6px;*/
/*}*/
/*#search-btn, #cart {*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    border: 1px solid #f6e770;*/
/*    border-radius: 6px;*/
/*    background-color: #F3E367;*/
/*    color: #2c2e31;*/
/*    text-transform: uppercase;*/
/*}*/
/*#adv-search-btn {*/
/*    height: 30px;*/
/*    background-color: #2c2e31;*/
/*    color: #FFFFFF;*/
/*    border: 1px solid #FFFFFF;*/
/*    border-radius: 6px;*/
/*    text-transform: uppercase;*/
/*    padding: 0 10px;*/
/*}*/
/*.cart {*/
/*    padding-right: 20px;*/
/*}*/
/*#bagTotal {*/
/*    min-width: 1.5rem;*/
/*    height: 1.5rem;*/
/*    right: 15px;*/
/*    position: absolute;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    border-radius: 1rem;*/
/*    background-color: #28847F;*/
/*}*/
/*...................................................................CONTENT layout*/
.content {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 300px 1fr;
  grid-row-gap: 10px;
  margin-top: 1%;
}

.content > * {
  grid-column: 3/span 8;
}

/*...............................................................................*/
/*..................................................................Fading images*/
.fading {
  grid-column: 3/11;
  grid-row: 1;
  position: relative;
}

.fading .image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

@keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.bottom, #welcome-heading {
  animation-name: FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-direction: alternate;
}

.content .fading .image h3 {
  color: white;
  position: absolute;
  padding: 120px 15% 0 15%;
}

/*...............................................................................*/
/*...............................................................................About container*/
.about-container {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-icon {
  width: 100px;
  height: 100px;
}

.info p {
  padding: 0 20px 0 20px;
}

/*...............................................................................*/
/*...............................................................................Bestsellers container*/
.bestsellers-container {
  grid-row: 3;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book-cover {
  width: 260px;
  height: 400px;
  transition: all 0.2s ease-in-out;
}

.book-cover:hover {
  transform: scale(1.05);
}

.price {
  color: #ff0072;
}

.book-details-container button {
  width: 130px;
  height: 30px;
  border: 1px solid #3e6767;
  border-radius: 15px;
  background-color: #28847F;
  color: #2c2e31;
  cursor: pointer;
  margin-bottom: 5px;
}

/*...............................................................................*/
/*...............................................................................Payment Delivery Gift container*/
.payment-gift-delivery-container {
  grid-row: 4;
  display: flex;
  justify-content: space-around;
  background-color: #3e6767;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-gift-delivery-icon {
  width: 150px;
  height: 100px;
}

/*...............................................................................*/
/*...............................................................................Stories container*/
.story-container {
  grid-row: 5;
  height: 600px;
  position: relative;
}

/*.story-wrapper{*/
/*    position: relative;*/
/*    height:100%;*/
/*}*/
.desk-icon {
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  /*z-index:0;*/
}

.cards-icon {
  max-width: 100%;
  width: 1500px;
  height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.card {
  position: absolute;
  top: 25%;
  left: 15%;
  right: 15%;
  z-index: 2;
  display: flex;
  /*justify-content: space-between;*/
  background-color: white;
}

.card .first {
  z-index: 2;
}

.card .second {
  z-index: 3;
}

.card .third {
  z-index: 4;
  transition: transform 300ms ease-in-out 0ms;
  transform: translate(0px) rotate(0deg);
}

.card-book-cover {
  width: 150px;
  height: 200px;
  margin-right: 7%;
}

.card-title-paragraph {
  display: flex;
  flex-direction: column;
}

.swipe {
  position: relative;
  z-index: 100;
}

/*when hitting next*/
.put-on-bottom {
  z-index: 1;
  /*transform: translate(-50%,-50%);*/
}

/*...............................................................................*/
/*..............................................................Sign up container*/
.email-signup-container {
  grid-row: 6/span 1;
  background-color: #3e6767;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.email-signup-container button {
  margin: 10px;
  width: 130px;
  height: 30px;
  border: 1px solid #F3E367;
  border-radius: 15px;
  background-color: #f6e770;
  color: #2c2e31;
  cursor: pointer;
}

.email-signup-container input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
}

/*...............................................................................*/

/*# sourceMappingURL=home.css.map */
