@import "./../scss/common";

/*...................................................................CONTENT layout*/
.content {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 15px;
  grid-row-gap: 10px;
  /*height: 80vh;*/
}

/*...............................................................................Filter Panel*/
.filter-panel {
  grid-column: 2/5;
  background-color: #FFFFFF;
  height: 650px;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}

.categories{
  display: flex;
  align-items: center;
}

.category-img {
  width: 40px;
  height: 35px;
  margin-right: 5px;
}

.price-slider {
  -webkit-appearance: none;
  width: 70%;
  height: 2px;
  border-radius: 5px;
  background: black;
  outline: none;
}

.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #2c2e31;
  cursor: pointer;
}

.price-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #2c2e31;
  cursor: pointer;
}

.filter-panel h4{
  margin-top: 15px;
  margin-left: 15px;
  border-bottom: 1px solid #ebebeb;
}
/*...............................................................................Products Container*/

.products-container {
  grid-column: 5/12;
  background-color: #FFFFFF;
  margin-left: 15px;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.books {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.book-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 140px;
}

.book-details-container .book-cover {
  width: 130px;
  height: 200px;
}

.book-details-container p {
}

.suggestions-container .title {
  margin: 10px 15px;
}

.book-details-container button {
  @include button-style(null, $color-light-green, $color-dark-green);
  margin: 10px;
}

.price {
  color: #ff0072;
}